<h1>About us</h1>
<p class="lead">We are socialising the rental market in NZ.</p>
<br>
<p>How many times have you asked on facebook: <em>"Hey does anyone out there own ______?"</em>?  Well now you have somewhere to find the person that does!</p>
<p>Just browse what we have and if nobody has what you're looking for - ask for it!  We'll do our best to track something down and our users will do the same.  We're all about community, trust, and allowing people to get the most out of their stuff.  Think of us like a <%= link_to "TradeMe", "http://www.trademe.co.nz" %> but everything you buy has a return date.</p>