<div class="jumbotron">
	<h1>Welcome to SwapShop!</h1>
	<p>Borrow anything from anyone, or rent your stuff for $$</p>
	<p>
		<%= link_to "Sign In", "#", class: "btn btn-default btn-lg" %> or 
		<%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg" %>
	</p>
</div>